<mat-toolbar color="primary">
    <span><a routerLink="/menu">Voltar</a></span>
</mat-toolbar>
<mat-card class="titulo">
    {{nome}}
    <!-- Doação de sangue -->
    <!-- {{evento.nome}} -->
</mat-card>
<div class="descricao">
    <!-- <p>Data Incial: </p> 
    <p>Data Final: </p> -->
    <p>Descrição: {{desc}}</p>
</div>
<mat-card class="confirmado">Confirmados: {{minNumero}} / {{Numero}}</mat-card>
<div class="botao">
    <button mat-raised-button color="primary" class="btn-lg" (click)="confirmar(minNumero)">Confirmar presença</button>
    <!-- <button type="button" class="btn btn-primary btn-lg">Large button</button> -->
    <button mat-raised-button class="btn-lg btn-danger left" (click)="remover(minNumero)">Remover inscrição</button>
    <!-- (click)="removerIns(evento.id)" -->
</div>