<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" /> -->

<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/menu">
        <img src="logo.png">
    </a>
</nav>
<hr>
<div class="container padding">
    <div class="card" id="formulario-pergunta">
        <div class="card-header">
            <h3>Cadastro de Parceiros</h3>
        </div>
        <div class="card-body">
            <form (submit)="onEnviar(parceiroForm)" #parceiroForm="ngForm">
                <div class="form-row">
                    <mat-form-field class="form-group col-md-12">
                        <mat-label>Nome</mat-label>
                        <input name="nome" ngModel #nomeInput="ngModel" type="text" required class="form-control" matInput>
                        <mat-error *ngIf="nomeInput.invalid">Nome inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group col-md-12">
                        <mat-label>Email</mat-label>
                        <input name="email" ngModel #emailInput="ngModel" type="email" required email class="form-control" matInput>
                        <mat-error *ngIf="emailInput.invalid">Email inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group col-md-12">
                        <mat-label>Senha</mat-label>
                        <input name="senha" ngModel #senhaInput="ngModel" type="password" required class="form-control" matInput>
                        <mat-error *ngIf="senhaInput.invalid">Senha inválida</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group col-md-12">
                        <mat-label>Endereço</mat-label>
                        <input name="end" ngModel #endInput="ngModel" type="text" required class="form-control" matInput>
                        <mat-error *ngIf="endInput.invalid">Endereço inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group col-md-12">
                        <mat-label>Telefone Ex... (11)22224444</mat-label>
                        <input name="telefone" ngModel #telefoneInput="ngModel" type="text" required class="form-control" matInput>
                        <mat-error *ngIf="telefoneInput.invalid">Telefone inválido</mat-error>
                    </mat-form-field>
                    <select class="form-control col-md-12 formato cima" name="zona" >
                        <label for="inputAddress">Zona</label>
                        <option>Zona Sul</option>
                        <option>Zona Leste</option>
                        <option>Zona Norte</option>
                        <option>Zona Oeste</option>
                    </select>
                    <select class="form-control col-md-12 formato"  name="tipo"   >
                        <label for="inputAddress">Tipo</label>
                        <option>Paróquia</option>
                        <option>ONG</option>
                        <option>CUFA</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>              
    </div>                
</div>