<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/mod">
        <img src="logo.png">
    </a>
</nav>
<hr>
<div class="container padding">
    <div class="card">
    <div class="card-header"><h3>Cadastro de Ações Sociais</h3> </div>
    <div class="card-body">
    <form action="#">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Nome completo</span>
                <div class="espaco">
                <input type="text" placeholder="Coloque seu nome completo" required class="form-control" matInput>
                </div>
            </div>
            <div class="input-box">
                <span class="details">Email</span>
                <div class="espaco">
                <input type="email" placeholder="Coloque seu email" required class="form-control">
                </div>
            </div>
            <div class="input-box">
                <span class="details">Telefone</span>
                <div class="espaco">
                <input type="text" placeholder="Coloque seu numero de telefone Ex... (11)22224444" required class="form-control">
                </div>
            </div>
            <div class="input-box">
                <span class="details">Endereço do Evento</span>
                <div class="espaco">
                <input type="text" placeholder="Coloque o endereço do evento" required class="form-control">
                </div>
            </div>
            <div class="input-box">
                <span class="details">CEP</span>
                <div class="espaco">
                <input type="text" placeholder="Informe o CEP do endereço" required class="form-control">
                </div>
            </div>
            <div class="input-box">
                <span class="details">Data do Evento</span>
                <div class="espaco">
                <input type="date" placeholder="Informe a cada do evento" required class="form-control">
                </div>
            </div>
            <div class="input-box">
                <span class="details">Número de pessoas</span>
                <div class="espaco">
                <input type="number" min="0" placeholder="Informe o número máximo de pessoas" required class="form-control">
                </div>
            </div>
            <div class="input-box">
                <span class="details">Classificação de Evento</span>
                <div class="espaco">
                <input type="text" placeholder="Classifique o evento" required class="form-control">
                </div>
            </div>
        </div>
        <div class="espaco">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
    </div>
    </div>
</div>