<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/menu">
        <img src="logo.png">
    </a>
</nav>
<hr>
<div class="container padding">
    <div class="card">
    <div class="card-header"><h3>Cadastro de Ações Sociais</h3> </div>
    <div class="card-body">
    <form (submit)="cadastrar(eventoForm)" #eventoForm="ngForm">
        <div class="user-details">
            <mat-form-field appearance="fill">
                <mat-label>Nome Completo</mat-label>
                <input name="nome" ngModel #nomeInput="ngModel" type="text" required class="form-control" matInput>
                <mat-error *ngIf="nomeInput.invalid">Nome inválido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input name="email" ngModel #emailInput="ngModel" type="email" required email class="form-control" matInput>
                <mat-error *ngIf="emailInput.invalid">Email inválido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Coloque seu numero de telefone Ex... (11)22224444</mat-label>
                <input name="telefone" ngModel #telefoneInput="ngModel" type="text" required class="form-control" matInput>
                <mat-error *ngIf="telefoneInput.invalid">Telefone inválido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Endereço do evento</mat-label>
                <input name="endereco" ngModel #enderecoInput="ngModel" type="text" required class="form-control" matInput>
                <mat-error *ngIf="enderecoInput.invalid">Endereço inválido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Informe o CEP do endereço</mat-label>
                <input name="cep" ngModel #cepInput="ngModel" type="text" required class="form-control" matInput>
                <mat-error *ngIf="cepInput.invalid">CEP inválido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Data do evento</mat-label>
                <input name="data" ngModel #dataInput="ngModel" type="date" required class="form-control" matInput>
                <mat-error *ngIf="dataInput.invalid">Data inválida</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Número máximo de pessoas</mat-label>
                <input name="numero" ngModel #numeroInput="ngModel" type="number" min="0" required class="form-control" matInput>
                <mat-error *ngIf="numeroInput.invalid">Número inválido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Classificação do Evento</mat-label>
                <input name="class" ngModel #classInput="ngModel" type="text" required class="form-control" matInput>
                <mat-error *ngIf="classInput.invalid">Classificação inválida</mat-error>
            </mat-form-field>
        </div>
        <div class="espaco">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
    </div>
    </div>
</div>