<mat-toolbar color="primary">
    <span><a routerLink="/evento">Voltar</a></span>
</mat-toolbar>
<mat-card class="regra">Regras</mat-card>
<div class="termo">- Chegue no horário do evento.</div>
<div class="termo">- Ao chegar no local, permaneça com a máscara.</div>
<div class="termo">- Na entrada você terá que passar álcool em gel e medir a temperatura.</div>
<div class="termo">- Mantenha o distanciamento.</div>
<div class="botao">
    <button mat-raised-button color="warn" class="btn-lg" [routerLink]="['/menu']">Li e concordo</button>
    <!-- (click)="onConfirmar()" -->
</div>
