.regra {
  text-align: center;
  margin: 2rem 10% 1rem 10%;
  padding: 3rem;
  font-size: xx-large;
}
.termo {
  margin: 1rem;
  text-align: center;
  font-size: large;
}

.botao {
  text-align: center;
  margin-top: 4rem;
}

a {
  text-decoration: none;
  color: white;
}
