<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/mod">
        <img src="logo.png">
    </a>
</nav>
<hr>

  <div class="container">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h3> Cadastro de Ação Social </h3>
      </div>
      <div class="card-body">

        <form class="row g-3">
          <div class="col-12">
            <label for="inputName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputName" required>
          </div>

          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Data Inicial</label>
            <input type="date" class="form-control" id="inputAddress" required>
          </div>

          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Data Final</label>
            <input type="date" class="form-control" id="inputAddress" required>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
          </div>

          <!--<div class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>-->

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
